doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    |   
    |     
    title Login
    |   
    |     
    link(rel="stylesheet", type="text/css", href="/css/login.css")
    |     
    style.
      h3 #go_index{
      color: rgb(47,60,90);
      text-decoration: none;
      text-align: center;
      }
      h3{
      text-align: center;
      }
  |   
  body
    #login
      h1 登录成功
      |   
      |         
      h3
        a#go_index(href="/") 前往网站首页 >
      h3
        a#go_index(href="/user") 前往个人中心 >
