extends layout
block content
  #content
  #ticket_wrapper
    #ticket_page_info
      | 电 影 票 务 信 息
    |       
    #ticket_list_head
      ul
        li 电影名
        |           
        li 放映时间
        |           
        li 观影厅
        |           
        li 余票
        |           
        li 票价
      |         
      .clear
    |       
    .ticket_item
      ul
        li
          p 生化危机6:终章
        |           
        li
          p 2017-5-6
        |           
        li
          p A影厅
        |           
        li
          p 40张
        |           
        li
          p 30￥
        |           
        li
          a(href="")
            span 购 票
      |         
      .clear
